@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥992px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
  .main-nav__model {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
  }
  .slogan__line--adjective {
    font-size: 6em;
    line-height: 1;
  }
  .slogan__line--object-last {
    letter-spacing: 2px;
  }
  .next-section-arrow img {
    width: 50px;
    height: 50px;
  }
  .welcome__flex-wrapper {
    display: block;
    height: auto;
  }
  .welcome {
    padding-top: 110px;
  }
  .welcome__features {
    font-size: 1rem;
    span {
      padding: 0 10px;
    }
  }
  .welcome__piano {
    position: relative;
    //margin-bottom: -20px;
    left: 0;
    transform: translateX(0%) scale(0.9);
  }
  .about__wrapper {
    min-height: 400px;
  }
  .about-btn-pos-case {
    width: 100%;
    &--2 {
      width: 70%;
    }
    &--4 {
      width: 90%;
    }
  }
  .advices__heading {
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-left: 10px;
  }
  .stock__heading {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .main-nav__list {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 30%;
    background: #2d2c2e;
    text-align: left;
  }
  .main-nav__link {
    display: block;
    margin-bottom: 1px;
    padding: 20px 40px;
    color: white;
    &:hover {
      background: #555555;
    }
  }
  .special-bg-container {
    display: block;
    height: auto;
  }
  .special-bg {
    width: 100%;
    height: 200px;
  }
  .stock {
    height: auto;
  }
  .stock__object-container {
    margin-top: 20px;
  }
  .stock__container {
    display: block;
    overflow: hidden;
  }
  .stock__col {
    display: block;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    img {
      max-height: 300px;
      margin: auto;
    }
  }
  .stock__info {
    width: 90%;
    position: relative;
    top: 80px;
    font-size: 1rem;
    text-transform: none;
    white-space: initial;
  }
  .stock__buy {
    font-size: 1.3rem;
  }
  .stock__cost {
    text-align: center;
  }
  .stock__col--left {
    &::after {
      font-size: 5rem;
      line-height: 100px;
      height: 100px;
      bottom: -50px;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .stock__col--center {
    &::after {
      font-size: 5rem;
      line-height: 100px;
      height: 100px;
      bottom: -50px;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .burger-btn {
    display: block;
  }
  .burger-btn--close {
    display: none;
  }
  .nav--opened {
    .main-nav__list {
      display: block;
    }
    .burger-btn--close {
      display: block;
    }
  }
  .stores__store-info {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  .stores__city-select {
    width: 300px;
    margin-top: 10px;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {
}
