$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #000;
$red: #f0534d;
$cyan: #3ea3af;
$green: #a5d6b0;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1800px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1740px);

$gutter: $grid-gutter-width;
