@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}
body {
  font-size: 10px;
  min-width: 320px;
  position: relative;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}
.events-none {
  pointer-events: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

@import "./components/header";
@import "./components/welcome";
@import "./components/about";
@import "./components/advices";
@import "./components/page-footer";
@import "./components/stores";
@import "./components/popup";
@import "./components/stock";

@import "media"; // Always at the end
