.about {
	position: relative;

}
.about__button {
  background: transparent;
  border: none;
  cursor: pointer;
	transition: 0.3s all;
	outline: none;
  &:hover {
    transform: scale(1.01);
	}
	&:focus {
		outline: none;
	}
}
.about__button--no-action{
	cursor: auto;
}
.about__piano {
  position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
}
.about__wrapper {
	width: 100%;
	min-height: 900px;
  height: calc(100vh - 130px);
}
.about__btn-case {
	position: relative;
	width: 50%;
	height: 50%;
}
.about-btn-pos-case{
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translate(-50%, -50%);
	&--1{
		left: 50%;
	}
	&--2{
		left: 50%;
	}
	&--3{
		left: 46.5%;
	}
	&--4{
		left: 53%;
	}
}
.about__btn-case--opt1 {
  background-color: #3ea3af;
}
.about__btn-case--opt2 {
  background-color: #f0534d;
}
.about__btn-case--opt3 {
  background-color: #ffffff;
}
.about__btn-case--opt4 {
  background-color: #a5d6b0;
}
