
.advices{
	min-height: calc(100vh - 130px);
	display: flex;
	flex-direction: column;
}
.advices__heading{
	font-family: "AvenirNextCyr";
	color: black;
	margin: 50px auto;
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}
.advices__wrapper {
	flex-grow: 1;
	display: flex;

}
.advices__row {
	height: 100%;
}
.advices__container{
	flex-grow: 1;
}
.advices__col{
	display: flex;
	min-height: 50vh;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
	font-size: 1.05rem;
	line-height: 1.4;

	&--left {
		background: $red;
	}
	&--right {
		background: $cyan;
	}
}
.advices__col-heading{
	font-family: "AvenirNextCyr";
	color: black;
	margin: 50px auto;
	font-size: 1.4rem;
	line-height: 1.6rem;
	text-align: center;
}
.advices__subtitle{
	font-family: "AvenirNextCyrMediumItalic";
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-align: center;
	margin-top: 30px;
}