.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 11;
}
.main-nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 60%;
}
.main-nav__item {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.main-nav__link {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-family: "AvevirNextCyrDemi";
  font-size: 1.125rem;
  padding: 35px 30px;
  transition: 0.3s all;
  &:hover {
    background: linear-gradient(
      to bottom,
      rgba(45, 44, 46, 1) 0%,
      37%,
      rgba(255, 255, 255, 0) 100%
    );
    color: white;
    text-decoration: none;
  }
}
.main-nav__link--attention {
  color: red;
  &:hover {
    color: red;
  }
}
.main-nav__model {
  display: inline-block;
  padding: 35px 30px;
  text-transform: uppercase;
  color: white;
  font-family: "AvevirNextCyrDemi";
  font-size: 1.125rem;
  padding: 35px 30px;
  transition: 0.3s all;
  background: #2d2c2e;
  &:hover {
    background: linear-gradient(
      to bottom,
      rgba(45, 44, 46, 1) 0%,
      37%,
      rgba(255, 255, 255, 0) 100%
    );
    color: white;
    text-decoration: none;
  }
}

.burger-btn {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  span {
    pointer-events: none;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 8px 5px;
  }
}
.burger-btn--close {
  position: absolute;
  top: 20px;
  right: 20px;
  span {
    pointer-events: none;
    display: block;
    width: 27px;
    height: 27px;
    background: url(../../img/_src/crossover.png) 0 0 / contain	no-repeat;
  }
}
