.page-footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.page-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: white;
    line-height: 40px;
    display: inline-block;
    font-size: 1.5rem;

    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: 0.3s all;
    &:hover {
      color: black;
      background: #fff;
    }
  }
}
