.page-body {
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    box-sizing: border-box;
    img {
      margin: 0 auto;
    }
  }
  .popup__close-btn {
    position: absolute;
    top: -30px;
    right: 0;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    span {
      pointer-events: none;
      display: block;
      width: 21px;
      height: 21px;
      background: url(../../img/_src/crsover.png) 0 0 / cover no-repeat;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .popup__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90%;
    background: white;
    padding: 8%;
  }
  .popup__ibtn {
    position: absolute;
    right: 12%;
    bottom: 50px;
    font-size: 1.3em;
    color: white;
    padding: 8px 20px;
    transition: 0.3s all;
    &:hover {
      text-decoration: none;
			color: black;
    }
  }
  .popup__color-code {
    position: absolute;
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .popup__heading {
    margin: 0;
    padding: 0;
    padding: 0 20px;
    font-size: 1.5rem;
    line-height: 1.8;
    border-bottom: 1px solid transparent;
  }
  .popup__heading--secondary {
    margin-top: -10px;
    border: none;
  }
  .popup__downloads {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    a {
      display: inline-block;
      margin: 0 5px;
      img {
        display: block;
        height: 50px;
      }
    }
  }
  .popup__subtitle {
    padding: 0 20px;
    font-size: 1.6em;
    line-height: 1.6;
    margin: 20px 0;
  }
  .popup__subtitle--wow {
    font-size: 2em;
    text-align: center;
  }
  .popup__technologies-head {
    padding: 0 20px;
    font-size: 1.3em;
    line-height: 1.3;
  }
  .popup__col {
    padding: 0 40px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      font-family: "AvenirNextCyrLight";
      font-size: 1.2em;
      line-height: 1.2;
      color: black;
      margin-bottom: 20px;
    }
  }
  .popup--1 {
    .popup__color-code {
      background-color: $cyan;
    }
    .popup__heading {
      border-color: $cyan;
    }
    .popup__ibtn {
      background-color: $cyan;
    }
  }
  .popup--2 {
    .popup__color-code {
      background-color: $red;
    }
    .popup__heading {
      border-color: $red;
    }
    .popup__ibtn {
      background-color: $red;
    }
  }
  .popup--3 {
    .popup__color-code {
      background-color: black;
    }
    .popup__heading {
      border-color: black;
    }
    .popup__ibtn {
      background-color: black;
    }
  }
  .popup--4 {
    .popup__color-code {
      background-color: $green;
    }
    .popup__heading {
      border-color: $green;
    }
    .popup__ibtn {
      background-color: $green;
    }
  }
  .popup--2 {
    display: none;
  }
  .popup--3 {
    display: none;
  }
  .popup__close-btn {
    position: absolute;
  }
  &.state_1 {
    overflow: hidden;
    .popup--1 {
      display: block;
    }
  }
  &.state_2 {
    overflow: hidden;
    .popup--2 {
      display: block;
    }
  }
  &.state_3 {
    overflow: hidden;
    .popup--3 {
      display: block;
    }
  }
  &.state_4 {
    overflow: hidden;
    .popup--4 {
      display: block;
    }
  }
}
