
.stock {
  height: calc(100vh - 130px);
  min-height: 700px;
  position: relative;
}
.stock__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.stock__text {
  margin: 50px auto 25px;
  text-align: center;
}
.stock__heading {
  font-family: "AvenirNextCyr";
  font-size: 4.5em;
  margin-bottom: 25px;
  b {
    font-family: "AvenirNextCyrDemi";
  }
}
.stock__object-container{
	margin-top: 100px;
	display: flex;
	height: 50%;
	align-items: center;
	margin-bottom: 20px;
}
.stock__subtitle {
  font-family: "AvenirNextCyr";
	font-size: 2.5em;
	line-height: 1.2;
  margin: 0;
}
.stock__info{
	display: block;
	position: absolute;
	z-index: 10;
	white-space: nowrap;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "AvenirNexCyr";
	font-size: 1.5em;
	margin: 0;
	text-transform: uppercase;
	color: white;
	padding: 10px;
	border: 1px solid white;
}
.stock__info--small{
	display: block;
	position: absolute;
	z-index: 10;
	white-space: nowrap;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "AvenirNexCyr";
	font-size: 1.1em;
	margin: 0;
	text-transform: uppercase;
	color: white;
	padding: 0;
	border: none;
}
.stock__row {
	flex-grow: 1;
	position: relative;
}
.stock__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 50px 50px;
}
.stock__col--right {
	background-color: $green;
	
}
.stock__col--left {
	background-color: $red;
	position: relative;
	&::after{
		content: '+';
		font-size: 8rem;
		text-align: center;
		color: #fff;
		position: absolute;
		width: 80px;
	//	height: 87px;
		right: -40px;
		top: 30%;
		transform: translateY(-50%);

		// background: url(../../img/_src/plus.png) center center / contain no-repeat;
		z-index: 3;
	}
}
.stock__col--center {
	background-color: $cyan;
	position: relative;
	&::after{
		content: '=';
		position: absolute;
		text-align: center;
		color: #fff;
		font-size: 8rem;
		width: 80px;
	//	height: 80px;
		right: -40px;
		top: 30%;
		transform: translateY(-50%);
	//	background: url(../../img/_src/equal.png) center center / contain no-repeat;
		z-index: 3;
	}
}
.stock__info{
	display: inline-block;
	text-align: center;
}
.stock__buy {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: #000;
  color: white;
  font-family: "AvenirNextCyr";
  font-size: 3em;
  text-transform: uppercase;
  padding: 10px 50px;
	transition: 0.3s all;
	cursor: pointer;
  &:hover {
    text-decoration: none;
    color: black;
    background: #fff;
  }
}
.stock__price{
	font-family: "AvenirNextCyrDemi";
	font-size: 2.5em;
	padding: 4px 10px;
	background-color: #fff;
}

.stock__price--prev{
	color: white;
	background: transparent;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 90%;
		height: 2px;
		left: 50%;
		top: 50%;
		background: $red;
		transform: translate(-50%, -50%) rotate(-10deg);
	}
}
.stock__price--profit{
	display: block;
	font-size: 1.5em;
	background: transparent;
	text-align: right;
	text-transform: uppercase;
	padding: 0;
}