
.stores {
	padding: 50px 0;
}
.stores__container {
  display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 1240px;
	margin: 0 auto;
}
.stores__store-info {
  font-size: 1.5em;
  line-height: 1.4;
  margin-bottom: 50px;
  flex-basis: 33.3%;
}
.stores__city-select {
  display: block;
  width: 500px;
  margin: 50px auto 30px auto;
  font-size: 1.5em;
  margin-bottom: 50px;
  padding: 20px 30px;
}
