
.welcome {
  min-height: 100vh;
  padding-top: 180px;
  position: relative;
}
.welcome__flex-wrapper {
  display: flex;
  flex-direction: column;
	height: calc(100vh - 180px);
	min-height: 700px;
}
.special-bg-container {
  flex: 0 0 auto;
  width: 100%;
  height: 38vh;
  display: flex;
}
.special-bg-1 {
  flex-basis: 33.3%;
  width: 33.3%;
  background: url(../img/_src/24480374.jpg) right center / cover no-repeat;
}
.special-bg-2 {
  flex-basis: 33.3%;
  width: 33.3%;
  background: url(../img/_src/24480369.jpg) center center / cover no-repeat;
}
.special-bg-3 {
  flex-basis: 33.3%;
  width: 33.3%;
  background: url(../img/_src/244803749.jpg) left center / cover no-repeat;
}
.welcome__slogan {
  text-align: center;
}
.welcome__features {
	margin-top: 20px;
	text-align: center;
	font-family: "AvenirNextCyrMedium";
	text-transform: uppercase;
}
.features__item {
	text-align: center;
	font-size: 2em;
	line-height: 1.2;
}

.welcome__piano {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
}
.welcome__content {
  flex-grow: 1;
}
.slogan__line {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextCyr";
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.slogan__line--object {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.slogan__line--adjective {
  font-size: 8.7rem;
  line-height: 7rem;
  font-family: "AvenirNextCyrBold";
}
.slogan__line--object-last {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 1rem;
  font-family: "AvenirNextCyr";
}

.next-section-arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
